@model ParcialP3Entrega.Models.ViewModels.AddUserViewModels
@{
    ViewBag.Title = "Nuevo registro";
    Layout = "~/views/shared/_Layout.cshtml";
}

<h2>Nuevo</h2>

<div class="col-md-12">
    <br />
    <br />

    @using (Html.BeginForm("Add", "User", FormMethod.Post, new { role = "form", @class = "" }))
    {
        <div class="form-group">
            @Html.LabelFor(d => d._Correo, "Correo")
            @Html.TextBoxFor(d => d._Correo, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d._Correo, null, new { @class = "text-danger" })
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(d => d._Clave, "Clave")
            @Html.PasswordFor(d => d._Clave, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d._Clave, null, new { @class = "text-danger" })
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(d => d._ClaveConfirma, "Confirmar Clave")
            @Html.PasswordFor(d => d._ClaveConfirma, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d._ClaveConfirma, null, new { @class = "text-danger" })
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(d => d._ClaveConfirma, "Edad")
            @Html.PasswordFor(d => d._Edad, new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d._Edad, null, new { @class = "text-danger" })
        </div>
        <br />


        <div style="text-align:left">
            <input type="submit"
                   value="Guardar"
                   class="btn btn-success btn-lg"
                   
                   />

            <input type="submit"
                   value="Volver Atras"
                   class="btn btn-info btn-lg"
                   onclick="document.location.href = '@Url.Content("~/User/Query")'" />

        </div>
    }
</div>